<%- include('header') %>
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/product">Home</a></span> / <span>My Wishlist</span></p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-md-10 offset-md-1">
						<div class="process-wrap">
							<div class="process text-center active">
								<p><span>01</span></p>
								<h3>Shopping Cart</h3>
							</div>
							<div class="process text-center">
								<p><span>02</span></p>
								<h3>Checkout</h3>
							</div>
							<div class="process text-center">
								<p><span>03</span></p>
								<h3>Order Complete</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-pb-lg">
					<div class="col-md-12">
						<div class="product-name d-flex">
							<div class="one-forth text-left px-4">
								<span>Product Details</span>
							</div>
							<div class="one-eight text-center">
								<span>Price</span>
							</div>
							<div class="one-eight text-center">
								<span>Quantity</span>
							</div>
							<div class="one-eight text-center">
								<span>Total</span>
							</div>
							<div class="one-eight text-center px-4">
								<span>Remove</span>
							</div>
						</div>
						<% if (wishlist && wishlist.length> 0) { %>
						<% wishlist.forEach(product => { %>
						 
						<div class="product-cart d-flex">
							<div class="one-forth">
								<div class="product-img"><img  style="object-fit: cover ;width: 120px;height: 110px;margin-right: 50px; border: 2px solid yellow;"  src="/AddPictures/<%=product.picture[0]%>"  alt="kkkk">
								</div>
								<div class="display-tc">
									<h3><%= product.productName %>$</h3>
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<span class="price"><%= product.price %></span>
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<input type="number" name=""  id="cartQuantity-<%= product.productId %>" value="<%=product.quantity%>" min="1" onchange="quantity('<%=product.productId %>')">	
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<span class="price"><%=product.price * product.quantity %></span>
								</div>
							</div>
							<div class="one-eight text-center"> 
								<div class="display-tc">
									<button onclick="Remove('<%=product.productId %>')" href="#" id="Remove" class="closed"></button>
								</div>
							</div>
						</div>
						<% }) %>
								<% } else { %>
									<div class="alert alert-warning text-center">No products in wishlist.</div>
									<% } %>

					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>Shop more</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-1.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-2.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Minam Meaghan</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-3.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Men's Taja Commissioner</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-4.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Russ Men's Sneakers</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
				async function quantity(productId) {
				// event.preventDefault(); // Prevent default form submission
    console.log(productId);
    try {    
        const quantityInput = document.getElementById(`cartQuantity-${productId}`);
            const quantity = quantityInput.value;
            console.log(quantity);
    
        const response = await fetch(`/Wishlist/quantity`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId: productId, quantity: quantity })
        });
        
        const result = await response.json();
        console.log(result);
        
        if (result.success) {
            window.location.reload();
           
        } else {
            alert('Something is wrong');
        }
    } catch (error) {
        console.log(error.message);
    }
}
// remove from cart 
async function Remove(productId){
	console.log(productId);
	try{
      const removedata= document.getElementById('Remove').value
      const response=await fetch('/Wishlist/remove',{
		method:'post',
		headers:{
			'Content-Type': 'application/json',
		},
		body:JSON.stringify({productId:productId})
	  })
	  const result = await response.json();
            console.log(result);
        
        if (result.success) {
            window.location.reload();
           
        } else {
            alert('Something is wrong');
        }
	}catch(error){
		console.log(error.message);
	}
       
  }

 

		</script>
		<%- include('footer') %>

